.page {
    background-color: #2A2C2F;
    min-width: 1280px;
    margin: 0 auto;
    padding: 28px 0 0;
    font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 1280px) {
    .page {
        min-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .page {
        min-width: 768px;
    }
}

@media (max-width: 768px) {
    .page {
        min-width: 320px;
    }
}
