.lead__header {
    color: #ffffff;
    font-size: 96px;
    line-height: 100px;
    align-self: center;
    width: 720px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

@media (max-width: 768px) {
    .lead__header {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
}
