.lead {
    margin: 0 auto;
    width: 75%;
    padding: 50px 0 90px;
    display: flex;
    flex-direction: column;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .lead {
        width: 928px;
        padding: 50px 0 60px;
    }
}

@media (max-width: 1020px) {
    .lead {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .lead {
        width: 320px;
    }
}

