.trip__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1184px;
    min-height: 740px;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(42, 44, 47, 0.25);
}

.trip__link:hover {
    background-color: rgba(42, 44, 47, 0.5);
}

@media (max-width: 1280px) {
    .trip__link {
        width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1024px) {
    .trip__link {
        width: 768px;
        min-height: 480px;
    }
}

@media (max-width: 768px) {
    .trip__link {
        width: 320px;
        min-height: 200px;
    }
}
