.trip__text {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    width: 360px;
    text-align: center;
}

@media (max-width: 768px) {
    .trip__text {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}
