.trip {
    width: 90%;
    min-height: 740px;
    display: flex;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    margin: 0 auto;
    max-width: 1184px;
}

@media (max-width: 1270px) {
    .trip {
        width: 100%;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .trip {
        min-height: 480px;
    }
}

@media (max-width: 320px) {
    .trip {
        min-height: 200px;
    }
}

