.place__text {
    margin: 0 0 24px;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

@media (max-width: 928px) {
    .place__text {
        font-size: 16px;
        line-height: 26px;
    }
}
