.trip__header {
    color: #ffffff;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    padding: 0;
    margin: 0 0 30px;
    text-align: center;
    font-weight: 900;
}

@media (max-width: 560px) {
    .trip__header {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}
