.place__header {
    width: 460px;
    color: #ffffff;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 40px;
    padding: 0;
}

@media (max-width: 1280px) {
    .place__header {
        width: 440px;
    }
}

@media (max-width: 1024px) {
    .place__header {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 768px) {
    .place__header {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 10px 40px;
    }
}
