.place {
    margin: 0 auto;
    width: 984px;
    padding: 0;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .place {
        width: 928px;
    }
}

@media (max-width: 928px) {
    .place {
        width: 720px;
    }
}

@media (max-width: 760px) {
    .place {
        width: 360px;
    }
}

@media (max-width: 360px) {
    .place {
        width: 320px;
    }
}
