.place__header {
    width: 460px;
    color: #ffffff;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 40px;
    padding: 0;
    font-weight: 900;
    align-self: flex-end;
}

@media (max-width: 1024px) {
    .place__header {
        width: 440px;
    }
}


@media (max-width: 928px) {
    .place__header {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 360px) {
    .place__header {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        align-self: flex-start;
        margin-left: 16px;
    }
}
