.photo {
    margin: 0 auto;
    padding: 0;
    width: 1184px;
    max-width: 1184px;
}

@media (max-width: 1270px) {
    .photo {
        width: 928px;
    }
}

@media (max-width: 1020px) {
    .photo {
        width: 720px;
    }
}

@media (max-width: 760px) {
    .photo {
        width: 288px;
    }
}
