.photo {
    margin: 0 auto;
    padding: 0;
    width: 1184px;
}

@media (max-width: 1280px) {
    .photo {
        width: 928px;
    }
}

@media (max-width: 1024px) {
    .photo {
        width: 720px;
    }
}

@media (max-width: 768px) {
    .photo {
        width: 288px;
    }
}
