.place__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .place__item {
        flex-direction: column;
        align-items: center;
    }
}
